# Dependencies
node_modules/
.dart_tool/
.packages
build/
backend/dist/

# Environment
.env
.env.local
*.env
mobile/dart_defines.json

# Archives
*.zip

# Uploads
backend/uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flutter
mobile/.flutter-plugins-dependencies
mobile/ios/Pods/
mobile/android/.gradle/

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
lcov.info
